@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{ background: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/VCHXZQKsxil3lhgr4/videoblocks-modern-seamless-texture-background-of-flat-online-education-e-learning-icons_rpi9u5o1b_thumbnail-full01.png);
      text-align: center;
 }

/*General*/
.form{
  font-family: 'Poppins', sans-serif;
  background: #ECD3B1;
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  font-size: 25px;
  width: 700px;
  height: 1150px;
  padding: 19px;
  margin-bottom: 20px;
  border-radius: 1%;
}/*Title and subtitle*/
.form h1{
  font-size: 40px;
  padding: 5px none;
  margin-bottom: 2px;
  width: 100%;
}.form #subtitle{
  font-size: 13px;
  margin-bottom: px;
}

/*Name, email and age form*/
.form #age-span{
  font-size: 15px;
}
.form #survey-form{
  text-align: left;
  font-size: 15px;
}.form #survey-form #name-lable{
  display: inline-block;
}.form #survey-form #form-input{
  font-family: 'Poppins', sans-serif;
  color: #585B56;
  width: 100%;
  margin-bottom: 7px;
  border: 1px solid gray;
  display: flex;
  border-radius: 4px;
}

/*selector to choose currents role*/
.form #dropdown-select{
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: gray;
  margin-bottom: 15px;
  border-radius: 4px;
}.form #dropdown-select .current{
  background-color: inherit;
}

/*Radio to choose the scale of recomendation*/
.form #recomendation-lable{
  margin-bottom: 10px;
}.form #radio-lable .input-radio{
  margin-bottom: 10px;
}

/*Selector to know what's the favorite feature of the user*/
.fomr #favorite-lable{
  margin-top: 15px;
}
.form #favortie-select{
  font-family: 'Poppins', sans-serif;
  width: 100%;
  color: gray;
  margin-bottom: 15px;
  border-radius: 4px;
}

/*checkboxes to know the skills the user whants to improve*/
.form #improve-lable{
  margin-bottom: 12px;
}.form #improve-input{
  margin-bottom: 15px;
}

/*Text-area to comments or suggestions*/
.form #suggestions-textarea{
  border-radius: 4px;
  width: 100%;
  min-height: 120px;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
  resize: vertical;
}

/*Buttom to submit information*/
.form #submit{
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  background-color: #D7AF70;
  border-top: none;
  border-top: 2px solid #937D64;
  border-bottom: 10px solid #937D64;
  border-right: 10px solid #937D64;
  border-left: 10px solid #937D64;
}

.form #submit:hover{
  width: 101%;
  height: 55px;
  margin-bottom: 30px;
  background-color: #D7AF70;
  border-top: none;
  border-top: 3px solid #937D64;
  border-bottom: 13px solid #937D64;
  border-right: 13px solid #937D64;
  border-left: 13px solid #937D64;
}