*{
    margin: 0;
    paddgin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 200px;
    vertical-align: top;
}.header a .logo{
    width: 200px;
    height: 200px;
    vertical-align: top;
    margin-left: 30px;
}.header ul{
    background-color: white;
    float: right;
}.header ul li{
    float: right;
    margin: 20px;
    margin-top: 85px;
}.header ul li a{
}



.body{
    background-color: yellow;
    width: 100%;
    height: 900px;
}.body .off{
    margin: 50px;
    width: 300px;
    height: 300px;
}.body a{
    display: line-block;
    width: 200px;
    height: 200px;
    margin: 30px;
}.body a img{
    margin-top: 30px;
    width: 200px;
    heignt: 200px;
}.body video{
    margin-right: 20px;
    margin-top: 50;
    margin-left: 100px;
    width: 550px;
    height: 550px;
}

.footer{
    background-color: red;
    width: 100%;
    height: 250px;
    vertical-align: top;
}

